*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vh;
}

h2, p, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 99vw;
    height: 10vh;
    background-color: #0F0F0F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    margin-top: -12vh;
}

header .left button{
    fill: white;
    background-color: #0F0F0F;
    margin-left: 1vw;
    margin-top: 1vh;
    border-style: none;
}

header svg{
    fill: white;
    width: 7vw;
    height: 7vh;
}

header .left button svg:active, header .right svg:active{
    fill: rgb(125, 255, 255);
}

header .left #icon{
    margin-left: 3vw;
}

header .right{
    text-align: right;
}

header .right svg{
    margin-top: 1vh;
    margin-right: 1vw;
}
main{
    width: 99vw;
    height: 320vh;
}
main #titulo{
    text-align: center;
    margin-top: 12vh;
}
main #botellas{
    margin-left: 5vw;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#cervezas{
    border: 1px solid #E5E5E5;
    border-radius: 15PX;
    width: 30vw;
    height:72vh;
}

#cervezas #foto{
    display: flex;
    justify-content: center;
}

#cervezas #foto img{
    width: 25vw;
    height: 45vh;
}
main #botellas #cervezas h2{
    color: #0F0F0F;
    font-size: 3vh;
    margin-left: 2vw;
    margin-top: 2vh;
}

main #botellas #cervezas p{
    color: #6D7275;
    font-size: 2vh;
    margin-left: 2vw;
}

main #botellas #cervezas #agregar{
    height: 9.5vh;
    width: 30vw;
    background-color: #F4F4F4;
    border: 1px solid #E5E5E5;
    margin-top: 2vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
main #botellas #cervezas #agregar:active{
    background-color: #0F0F0F;
}
main #botellas #cervezas #agregar h3{
    color: #0000A3;
    font-size: 3vh;
    
}

main #botellas #cervezas #agregar h3:active{
    color: #E5E5E5;
}

main #merca{
    width: 92.5vw;
    height: 10vh;
    border: 1px solid #E5E5E5;
    margin-top: 4vh;
    margin-left: 5vw;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main #merca #iz p{
    font-size: 2vh;
    margin-top: 2vh;
    margin-left: 5vw;
}

main #merca #iz h4{
    font-size: 4vh;
    margin-left: 5vw;
}

main #merca #der{
    text-align: right;
    margin-top: 2vh;
}

main #merca:active{
    background-color: #0F0F0F;
    color: #E5E5E5;
}

main #merca #der svg{
    fill: #0000A3;
    width: 7vw;
    height: 7vh;
}

footer{
    width: 99vw;
    height: 50vh;
}

footer #first{
    background-color: #0F0F0F;
    width: 99vw;
    height: 35vh;
    color: #E5E5E5;
    text-align: center;
    justify-items: center;
}

footer #first p{
    font-size: 3vh;
    margin-top: vh;
}

footer #first #up{
    padding-top: 6vh;
}

footer #first #down{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer #first #down .post{
    width: 8vw;
    height: 8vh;
    background-color: #F4F4F4;
    border-radius: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
}

footer #first #down .post svg{
    fill: #0F0F0F;
    width: 8vw;
    height: 8vh;
}

footer #first #down .post p{
    margin-top: 2vh;
}

footer #second{
    text-align: center;
    width: 99vw;
    height: 40vh;
}

footer #second p{
    font-size: 2vh;
    font-weight: 800;
    padding-top: 3vh;
}

footer #second p:active{
    color: aqua;
}

footer #third{
    height: 20vh;
}
footer #third #ig{
    background-color: #0000A3;
    width: 7vw;
    height: 7vh;
    justify-self: center;
    border-radius: 50%;
}

footer #third svg{
    fill: #F4F4F4;
    width: 7vw;
    height: 7vh;
}

footer #third p{
    text-align: center;
    font-weight: 800;
    padding-top: 2vh;
}

footer #fourth{
    background-color: #0F0F0F;
    width: 99vw;
    height: 10vh;
    justify-items: center;
}

footer #fourth #fijo{
    width: 12vw;
    height: 5vh;
    background-color: #0000A3;
    border-style: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    margin-top: -335vh;
    margin-left: -6vh;
}

footer #fourth #fijo p{
    color: #F4F4F4;
    font-size: 2vh;
    margin-top: 1.5vh;
}

footer #fourth #fijo svg{
    margin-top: 1.5vh;
    fill: #F4F4F4;
}